{% extends 'base.html.twig' %}

{% block body %}
    <h1>Villeaeroports list</h1>
    <a href="{{ path('villeaeroport_new') }}">
        <button type="button" class="btn btn-info">
            Create a new Ville-Aeroport
        </button>
    </a>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Ville</th>
                <th>Aeroport</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for villeAeroport in villeAeroports %}
            <tr>
                <td><a href="{{ path('villeaeroport_show', { 'id': villeAeroport.id }) }}">{{ villeAeroport.id }}</a></td>
                <td>{{ villeAeroport.idVille }}</td>
                <td>{{ villeAeroport.idAeroport }}</td>
                <td>
                    <a href="{{ path('villeaeroport_show', { 'id': villeAeroport.id }) }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </a>
                    <a href="{{ path('villeaeroport_edit', { 'id': villeAeroport.id }) }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
