{% extends 'base.html.twig' %}

{% block body %}
    <h1>Aeroports list</h1>

    <table>
        <thead>
            <tr>
                <th>Idaero</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for aeroport in aeroports %}
            <tr>
                <td><a href="{{ path('aeroport_show', { 'id': aeroport.idAero }) }}">{{ aeroport.idAero }}</a></td>
                <td>{{ aeroport.nom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('aeroport_show', { 'id': aeroport.idAero }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('aeroport_edit', { 'id': aeroport.idAero }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('aeroport_new') }}">Create a new aeroport</a>
        </li>
    </ul>
{% endblock %}
