{% extends 'base.html.twig' %}

{% block body %}
    <h1>Vol</h1>

    <table class="table table-hover table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ vol.idVol }}</td>
            </tr>
            <tr>
                <th>Datedepart</th>
                <td>{% if vol.dateDepartVol %}{{ vol.dateDepartVol|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datearrivee</th>
                <td>{% if vol.dateArriveeVol %}{{ vol.dateArriveeVol|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heuredepart</th>
                <td>{% if vol.heureDepartVol %}{{ vol.heureDepartVol|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heurearrivee</th>
                <td>{% if vol.heureArriveeVol %}{{ vol.heureArriveeVol|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Aéroport de départ</th>
                <td>{% if vol.idAeroportDepart %}{{ vol.idAeroportDepart }}{% endif %}</td>
            </tr>
            <tr>
                <th>Aeroport d'arrivée</th>
                <td>{% if vol.idAeroportArrivee %}{{ vol.idAeroportArrivee }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="{{ path('vol_index') }}">
                <button type="button" class="btn btn-default">
                    Retour
                </button>
            </a>
        </div>
        <div class="btn-group" role="group">
            <a href="{{ path('vol_edit', { 'id': vol.idVol }) }}">
                <button type="button" class="btn btn-warning">Editer</button>
            </a>
        </div>
        <div class="btn-group" role="group">
            {{ form_start(delete_form) }}
            <input type="submit" class="btn btn-danger" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>
{% endblock %}
