{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:editCompagnieAerienneVol{% endblock %}

{% block body %}

    <h1>Modifier un vol de compagnie aérienne</h1>
    {{ form_start(form) }}
    {{ form_row(form.numero) }}
    {{ form_row(form.ouvert) }}
    {{ form_row(form.idCompagnie) }}
    {{ form_row(form.idVol) }}

    <input type="submit" value="Edit"  class="btn btn-lg btn-warning col-sm-12"/>
    {{ form_end(form) }}

    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <a href="{{ path('CompagnieAerienneVol_list') }}">
                <button type="button" class="btn btn-default">
                    Retour
                </button>
            </a>
        </div>

        <div class="btn-group" role="group">
            <a href="{{ path('CompagnieAerienneVol_delete', { 'id': compagnieAerienneVol.id }) }}">
                <button type="button" class="btn btn-danger">Delete</button>
            </a>    
        </div>
    </div>

{% endblock %}
