{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienneVol:editCompagnieAerienneVol{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienneVol:editCompagnieAerienneVol page</h1>

    <h1>Modifier un vol de compagnie aérienne</h1>
    {{ form_start(form) }}
    {{ form_row(form.numero) }}
    {{ form_row(form.ouvert) }}
    {{ form_row(form.idCompagnie) }}
    {{ form_row(form.idVol) }}
    <button type="submit">Sauvegarder le vol</button>
    {{ form_end(form) }}

    <form action='{{ path('CompagnieAerienneVol_list') }}'>
      <button type="submit">Retour à la liste</button>
    </form>
{% endblock %}
