{% extends '::base.html.twig' %}

{% block body %}
    <h1>Modifier un utilisateur</h1>

    {{ form_start(edit_form) }}
    {{ form_row(edit_form.login, { 'attr' : { 'readonly' : true } }) }}
    {{ form_row(edit_form.motDePasse) }}
    {{ form_row(edit_form.admin) }}
    {{ form_row(edit_form.isActive) }}
    <input type="submit" value="Modifier" />
    {% for flashMessage in app.session.flashBag.get('notice') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('login_list') }}">Retour à la liste</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
