{% extends '::base.html.twig' %}

{% block body %}
    <header>
        <h1>{% trans %}title.loginEdit{% endtrans %}</h1>
    </header>
    {{ form_start(edit_form) }}
    {{ form_row(edit_form.login, { 'attr' : { 'readonly' : true } }) }}
    {{ form_row(edit_form.motDePasse) }}
    {{ form_row(edit_form.admin) }}
    {{ form_row(edit_form.active) }}
    <input type="submit" value="{% trans %}button.edit{% endtrans %}" />
    {% for flashMessage in app.session.flashBag.get('notice') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('login_list') }}">{% trans %}link.returnList{% endtrans %}</a>
        </li>
        {% if not login.isSelf(app.user) %}
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="{% trans %}button.delete{% endtrans %}">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
