{% extends '::base.html.twig' %}

{% block body %}
<header>
    <h1>{% trans %}title.login{% endtrans %}</h1>
</header>
{% if error %}
<div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
<form action="{{ path('login') }}" method="post">
    <div class="form-group">
        <label for="username">{% trans %}label.login{% endtrans %}</label>
        <input type="text" id="username" name="_username"  class="form-control" value="{{ last_username }}" placeholder="{% trans %}label.login{% endtrans %}">
    </div>
    <div class="form-group">
        <label for="password">{% trans %}label.password{% endtrans %}</label>
        <input type="password" id="password" name="_password" class="form-control" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-warning btn-lg col-sm-12">{% trans %}title.login{% endtrans %}</button>
</form>
<a href="{{ path('inscrire_client') }}"><button type="submit" class="btn btn-primary btn-lg col-sm-12">S'enregistrer</button></a>
<a href="{{ path('vol_index') }}"><button type="submit" class="btn btn-default btn-lg col-sm-12">Voir les vols</button></a>
{% block footer %}{% endblock %}
{% endblock %}
