<tr>
    <td>Login </td>
    <td>
        {{ form_row(form.login.login, {'label': ' '}) }}</td>
</tr>

<tr>
    <td>Mot de passe </td>
    <td>
        {% for flashMessage in app.session.flashBag.get('errorPassword') %}
            <span class="inline">
                {{ flashMessage }}
            </span>
        {% endfor %}
        {{ form_row(form.login.motDePasse, {'label': ' '}) }}
    </td>
</tr>
<tr>
    <td>Confirmation </td>
    <td>{{ form_row(form.login.motDePasseConf, {'label': ' '}) }}</td>
</tr>
<tr>
    <td>Administrateur </td>
    <td>
        {{ form_row(form.login.admin, {'label': ' '}) }}
    </td>
</tr>
<tr>
    <td>Compte actif </td>
    <td>{{ form_row(form.login.isActive, {'label': ' '}) }}</td>
</tr>
