{{ form_row(form.login.login, {'label': 'Login'}) }}
{% for flashMessage in app.session.flashBag.get('errorPassword') %}
    <span class="inline">
        {{ flashMessage }}
    </span>
{% endfor %}
{{ form_row(form.login.motDePasse, {'label': 'Mot de passe'}) }}
{{ form_row(form.login.motDePasseConf, {'label': 'Confirmation'}) }}
{{ form_row(form.login.admin, {'label': 'Administrateur' }) }}
{{ form_row(form.login.isActive, {'label': 'Compte actif'}) }}

