{% extends 'base.html.twig' %}

{% block body %}
    <h1>Escales list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Datedepart</th>
                <th>Datearrivee</th>
                <th>Heuredepart</th>
                <th>Heurearrivee</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for escale in escales %}
            <tr>
                <td><a href="{{ path('escale_show', { 'id': escale.idEscale }) }}">{{ escale.idEscale }}</a></td>
                <td>{% if escale.dateDepartEscale %}{{ escale.dateDepartEscale|date('Y-m-d') }}{% endif %}</td>
                <td>{% if escale.dateArriveeEscale %}{{ escale.dateArriveeEscale|date('Y-m-d') }}{% endif %}</td>
                <td>{% if escale.heureDepartEscale %}{{ escale.heureDepartEscale|date('H:i:s') }}{% endif %}</td>
                <td>{% if escale.heureArriveeEscale %}{{ escale.heureArriveeEscale|date('H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('escale_show', { 'id': escale.idEscale }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('escale_edit', { 'id': escale.idEscale }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('escale_new') }}">Create a new escale</a>
        </li>
    </ul>
{% endblock %}
