{% extends 'base.html.twig' %}

{% block body %}
    <h1>Escale</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ escale.idEscale }}</td>
            </tr>
            <tr>
                <th>Datedepart</th>
                <td>{% if escale.dateDepartEscale %}{{ escale.dateDepartEscale|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Datearrivee</th>
                <td>{% if escale.dateArriveeEscale %}{{ escale.dateArriveeEscale|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heuredepart</th>
                <td>{% if escale.heureDepartEscale %}{{ escale.heureDepartEscale|date('H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Heurearrivee</th>
                <td>{% if escale.heureArriveeEscale %}{{ escale.heureArriveeEscale|date('H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('escale_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('escale_edit', { 'id': escale.idEscale }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
