{% extends 'base.html.twig' %}

{% block body %}
    <h1>Passagers list</h1>

    <table>
        <thead>
            <tr>
                <th>Idpassager</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for passager in passagers %}
            <tr>
                <td><a href="{{ path('passager_show', { 'id': passager.idPassager }) }}">{{ passager.idPassager }}</a></td>
                <td>{{ passager.nom }}</td>
                <td>{{ passager.prenom }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('passager_show', { 'id': passager.idPassager }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('passager_edit', { 'id': passager.idPassager }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('passager_new') }}">Create a new passager</a>
        </li>
    </ul>
{% endblock %}
