{% extends 'base.html.twig' %}

{% block body %}
    <h1>Reservations list</h1>
    <a href="{{ path('reservation_new') }}">
        <button type="button" class="btn btn-info">
            Create a new reservation
        </button>
    </a>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Datereservation</th>
                <th>Numero</th>
                <th>Etat</th>
                <th>Vol</th>
                <th>Client</th>
                <th>Passager</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
            <tr>
                <td>{% if reservation.dateReservation %}{{ reservation.dateReservation|date('Y-m-d') }}{% endif %}</td>
                <td>{{ reservation.numero }}</td>
                <td>{{ reservation.etat }}</td>
                <td>{{ reservation.idVol }}</td>
                <td>{{ reservation.idAdd }}</td>
                <td>{{ reservation.idPassager }}</td>
                <td>
                    <a href="{{ path('reservation_show', { 'id': reservation.idResa }) }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </button>
                    </a>
                    <a href="{{ path('reservation_edit', { 'id': reservation.idResa }) }}">
                        <button type="button" class="btn btn-default" aria-label="Left Align">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% for flashMessage in app.session.flashBag.get('error') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}
        
{% endblock %}
