<body>
    <h1>Inscription</h1>
    <button type="submit">Particulier</button>
    <button type="submit">Entreprise</button>
    <button type="submit">Association</button>
    {{ form_start(form) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.numTel) }}
    {{ form_row(form.numFax) }}
    {{ form_row(form.eMail) }}
    {{ form_row(form.siret) }}
    <br /><button type="submit">Valider</button>
    {{ form_end(form) }}
    <form action='{{ path('default') }}'>
        <button type="submit">Retour</button>
    </form>
</body>