{% extends 'base.html.twig' %}

{% block body %}
    <h1>Adresses list</h1>

    <table>
        <thead>
            <tr>
                <th>Idadd</th>
                <th>Adresse</th>
                <th>Codepostal</th>
                <th>Ville</th>
                <th>Pays</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for adresse in adresses %}
            <tr>
                <td><a href="{{ path('adresse_show', { 'id': adresse.idAdd }) }}">{{ adresse.idAdd }}</a></td>
                <td>{{ adresse.adresse }}</td>
                <td>{{ adresse.codePostal }}</td>
                <td>{{ adresse.ville }}</td>
                <td>{{ adresse.pays }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('adresse_show', { 'id': adresse.idAdd }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('adresse_edit', { 'id': adresse.idAdd }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('adresse_new') }}">Create a new adresse</a>
        </li>
    </ul>
{% endblock %}
