{% extends "::base.html.twig" %}

{% block title %}RocketfireAgenceMainBundle:CompagnieAerienne:listCompagnieAerienne{% endblock %}

{% block body %}
<h1>Welcome to the CompagnieAerienne:listCompagnieAerienne page</h1>

<table class="table table-hover table-striped">
        <tr>
            <th>Identifiant</th>
            <th>Nom</th>
            <th>Editer</th>
            <th>Supprimer</th>
        </tr>
        {% for compagnie in compagnieAeriennes %}
            {# boucle de construction de la liste des compagnies #}
            <tr>
                <td>{{ compagnie.id }} </td>
                <td>{{ compagnie.nom }}</td>
                <td>
                    <form action='{{ path('CompagnieAerienne_edit' , { 'id' : compagnie.id }) }}'>
               <button type="submit">Editer</button>
               </form>
                </td>
                <td>
               <form action='{{ path('CompagnieAerienne_delete' , { 'id' : compagnie.id }) }}'>
               <button type="submit">Supprimer</button>
               </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% for flashMessage in app.session.flashBag.get('notice') %}
        <p>
            {{ flashMessage }}
        </p>
    {% endfor %}
    <form action='{{ path('CompagnieAerienne_add') }}'>
        <button type="submit">Ajouter une compagnie A&#233;rienne</button>
    </form>
{% endblock %}
